body{
	display: flex;
}
#options{
	width: 25vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#log{
	width: 80vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}
.string {
	color: green; 
}
.number { 
	color: darkorange; 
}
.boolean {
 color: blue; 
}
.null { 
	color: magenta; 
}
.key { 
	color: red; 
}

