body{
    display: flex;
    background:pink;
}
#options{
    width: 25vw;
    padding: 0;
    margin: auto;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
